# Example ENV file to demonstrate configuration use

# Bot token goes here

TOKEN="BOT_TOKEN_HERE"

# ID of the bot (client)

CLIENT_ID="OWNER_ID_HERE"

# ID of the bot owner (Used for testing)

OWNER_ID="OWNER_ID_HERE"

# SFTP configuration settings

SFTP_HOST="localhost"
SFTP_PORT=22
SFTP_USER="johndoe"
SFTP_PASSWORD="randompassword"

# OpenWeatherMap API key
OPENWEATHERMAP_API_KEY="KEYGOESHERE"
OPENWEATHERMAP_LAT="51.1788822531"
OPENWEATHERMAP_LON="-1.8262138104"

# This was inserted by `prisma init`:
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://johndoe:randompassword@localhost:5432/mydb"
