# Example ENV file to demonstrate configuration use

# Bot token goes here

TOKEN="BOT_TOKEN_HERE"
CLIENT_ID="CLIENT_ID_HERE"

# SFTP configuration settings

SFTP_HOST="localhost"
SFTP_PORT=22
SFTP_USER="johndoe"
SFTP_PASSWORD="randompassword"

# This was inserted by `prisma init`:
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://johndoe:randompassword@localhost:5432/mydb"
