# Example ENV file to demonstrate configuration use

# Bot token goes here

TOKEN="BOT_TOKEN_HERE"

# ID of the server to run in goes here [ deprecated ; will be removed ]

SERVER_ID="SERVER_ID_HERE"

# This was inserted by `prisma init`:
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://johndoe:randompassword@localhost:5432/mydb"
